/*   general formatting and defaults   */

div, input, span {
font-size: 12px !important;
}

._dash-undo-redo {
  display: none;
}

.container {
width: 3000px;
margin-left: 100%-width;
margin-right: 100%-width;
border: 1px;
font-family: futura LT BT;
}


h3, h4, h6 {
text-align: center;
vertical-align: middle;
}





/*   topnav formatting   */

.navbar {
background-color: 'rgb(175,175,175)' !important;
padding: 0px !important;
margin-left: -15px!important;
margin-right: -15px!important;
}

.navbar .row{
width: 100% !important;
}



#logo {
width: 100px;
height: 55px;
margin-top: 5%;
margin-bottom: 5%;
margin-left: 10px;
}


#nav_side_right {
line-height: 15px;
font-family Futura LT BT;
letter-spacing: .4em;
text-align: center;
text-indent: -2.5em;
align-self: center;
left: 10px;
margin-top: 1%;
margin-bottom: 1%;
}

#nav_side_right Div {
padding-top: 4px;
}

#nav_center {
letter-spacing: 1em;
top: 10px;

}

#energy_performance_link {
text-decoration: none;
color: black;
}

#energy_performance_link:hover {
color: blue;
}

#logo {
    display: block;
margin: 20px;
}




/*   main body column formatting   */

#bullet_col, #pie_col {
padding-left: 0;
padding-right: 0;
}


.col_nopad {
padding-left: 0 !important;
padding-right: 0 !important;
overflow: visible;
}

#submit_col {
text-align: left;
}

#navbar {
border-style: solid;
border-color: rgb(150,150,150);
border-top-width: 0px;
border-bottom-width: 1px;
border-left-width: 0px;
border-right-width: 0px;
}

#titlerow {
/*background-color: rgb(248, 249, 250);*/

border-style: solid;
border-color: rgb(200,200,200);
border-bottom-width: 1px;
border-top-width: 0px;
border-left-width: 0px;
border-right-width: 0px;
}


#collapse_row {
margin-top: 20px;
margin-bottom: 20px;
padding-bottom: 10px;


border-style: solid;
border-color: rgb(200,200,200);
border-bottom-width: 1px;
border-top-width: 0px;
border-left-width: 0px;
border-right-width: 0px;

}

#bodyrow {
margin-top: 20px;
margin-bottom: 10px;
border-style: solid;
border-color: rgb(200,200,200);
border-bottom-width: 1px;
border-top-width: 0px;
border-left-width: 0px;
border-right-width: 0px;

}




/*   button / check formatting   */

#submit_btn {
background-color: None;
display: visible;
margin-top: 10px;
align-self: center;
text-align: center !important;
width: 100px;

}





.print {
width: 100px;
position: relative;
vertical-align: middle;
top: 10px;
z-index: 999999;

}

#cost_toggle {
font-size: .9em;
}

#cost_toggle{
margin-top: 5px;
}




#bldg_type .Select-arrow {
    display: none;
}













/*   collapse input forms   */



.input-group-prepend .input-group-text {
min-width: 120px;
width: 120px;
}



#bldg_type .form-control {
    border-bottom-color: rgba(0,0,0,0);
    border-left-color: rgba(0,0,0,0);
    border-right-color: rgba(0,0,0,0);
    border-top-color: rgba(0,0,0,0);
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    width: 100%;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;

}





#area_input.form-control {
border-top-right-radius: 0px !important;
}






.bldg_type_header {
border-bottom-left-radius: 2.5px !important;
border-bottom-right-radius: 2.5px !important;
border-top-left-radius: 2.5px !important;
border-top-right-radius: 2.5px !important;
min-width: 90px;
width: 100%;
height: 27.5px;
margin-right: -1px;
text-align: center;
align-items: center;
padding-top: 0.375rem;
padding-right: 0.75rem;
padding-bottom: 0.375rem;
padding-left: 0.75rem;
}


#bldg_type .Select .Select-control {
padding-left: 0;
padding-right: 0;
padding-top: 0;
padding-top: 0;
margin-top: 0;
width: 100%;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
cursor: pointer;
line-height: 24.5px !important;
height: 24.5px !important;
background-color: rgb(237, 244, 255);
}

#bldg_type .Select-value {
line-height: 24.5px !important;
height: 24.5px !important;
}



#bldg_type .Select-input {
height: 22.5px !important;
line-height: 22.5px !important;
}





#bldg_area_group{
padding-top: 0px;
margin-top: 0px;
border-bottom-left-radius: 2.5px !important;
border-bottom-right-radius: 2.5px !important;
border-top-left-radius: 2.5px !important;
border-top-right-radius: 2.5px !important;
}


#bldg_area_group .input-group-prepend .input-group-text {
border-top-left-radius: 2.5px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}

bldg_area_group .input-group-prepend {
border-bottom-left-radius: 2.5px !important;
border-bottom-right-radius: 2.5px !important;
border-top-left-radius: 2.5px !important;
border-top-right-radius: 2.5px !important;
}

#bldg_area_group .form-control {
margin-top: 0;
padding-top: 0;
border-top-right-radius: 2.5px !important;
}


#bldg_type .Select-value-label {
vertical-align: center !important;

}




#bldg_type .Select-control {
border-top-right-radius: 2.5px !important;
border-top-left-radius: 2.5px !important;
border-bottom-right-radius: 2.5px !important;
border-bottom-left-radius: 2.5px !important;

}





#bullet_col {
text-align: center;
}

.plot-container .svg-container{
text-align: center;
align-self: center;
align: center;
display: inline-block;
}






#bldg_type_question {
margin-left: 1px;
text-align: right;
text-decoration: none !important;
font-size: 8px !important;
margin-bottom: 5px;

}









#cost_pie_col {
right: 0px;
}

#carbon_pie_col {
right: -5px;
}

#eui_pie_col {
right: -25px;
}






#cost_toggle_col {
right: 0;
}

#carbon_toggle_col {
right: 0;
}

#eui_toggle_col {
right: 0;
}








#cost_col {
text-align: center;
right: 30px;
}



#building_name_input {
border-top: none;
border-bottom: none;
border-left: none;
border-right: none;
text-align: center;
font: Futura LT BT;
font-size: 25px !important;
margin-top: 5px;
margin-bottom: 5px;
}

#building_name {
position: relative;
right: 20px;

}



::-webkit-input-placeholder {
font-size: 10px !important;
vertical-align: middle;
}




.form_header {
padding-left: 8px;
}





#inp_bot_right_col {
display: inline-block !important;
}

#typ_rate_text {
display: inline-block;
padding-left: 5px;
position: relative;
left: 0px !important;
bottom: 5px;
font-size: 10px !important;
}

#rate_bool {
width: 60px;
display: inline-block;
margin-top: 15px;
}

#figrow_toggle {


/*
border-style: solid;
border-color: rgba(200,200,200);
border-top-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-right-width: 0px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
*/

padding-top: 10px;
padding-bottom: 10px;
position: relative;
left: 50px;
background-color: rgba(0,0,0,0);
}




#figrow1, #figrow_toggle, #figrow2, #piecol, #bullet_col {
overflow: visible;
}



/*
.norm_tag {
position: relative;
width: 25px;
height: 25px;
right: 75px;
border-color: black;
border-width: 1px;
border-radius: 50%;
background-color: rgba(200,200,200,80);
padding-left: 5px;
padding-top: 2px;
}

*/

.norm_tag {

align: center;
text-align: center;
}



#norm_tag_col {
align: center;
text-align: center;
position: relative;
left: 50px;

}


#figrow_toggle {
padding-top: 0;
margin-top: 0;
position: relative;
bottom: 20px;
}

#norm_toggle_col {
position: relative;
right: 20px;
}



@media print {

    #submit_col{
    display: none;
    }

    #inp_bot_right_col #rate_bool, #typ_rate_text, #figrow_toggle, #print_col {
    display: none;
    }

    #bldg_type_question {display: none;}

    .navbar {
    display: block !important;
    }

    #building_name {
    position: relative;
    left: 70px;

        }

    #header {
    display: none;
    }

    #footer {
    display: none;
    }




    @page {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right; 1%;
    }





}

